<div class="row">
    <h1>Estudios</h1>
        <div class="col-lg-10">
            <ul>
                <li><h1>Estudio 1</h1>
                    <h3>Establecimiento</h3></li>
                <p>Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto</p>
            </ul>       
            <ul>
                <li><h1>Estudio 2</h1>
                    <h3>Establecimiento</h3></li>
                <p>Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto</p>
            </ul>    
            <ul>
                <li><h1>Estudio 3</h1>
                    <h3>Establecimiento</h3></li>
                <p>Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto</p>
            </ul>    
            <ul>
                <li><h1>Estudio 4</h1>
                    <h3> Establecimiento</h3></li>
                <p>Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto</p>
            </ul>    
            <ul>
                <li><h1>Estudio 5</h1>  <h3>     Período</h3> </li>
                <p>Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto</p>
            </ul>    
        </div>
</div>

