
<div class="zoomin frame">
    <a href="https://www.facebook.com/"><img src="../../assets/logoface.png" alt="logoface" title="Facebook"></a>
    <a href="https://github.com/"><img src="../../assets/logogh.png" alt="logogh"title="GitHub"></a>
    <a href="https://www.instagram.com/"><img src="../../assets/logoig.png" alt="logoig"title="Instagram"> </a>
    <a href="https://www.linkedin.com"><img src="../../assets/logoin.png" alt="logoin"title="LinkedIn"></a>
    <a href="https://twitter.com"><img src="../../assets/logotw.png" alt="logotw"title="Twitter"></a>
</div>
<style type="text/css">
    .zoomin img {
      width: 40px;
      height: 40px;
      -webkit-transition: all 2s ease;
      -moz-transition: all 2s ease;
      -ms-transition: all 2s ease;
      transition: all 2s ease;
    }
    .zoomin img:hover {
      height: 50px;
      width: 50px;
    }
  </style>