<div class="row">
  <h1>Skills (Soft and Hard)</h1>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <circle-progress
      [title]="'html '"
      [titleColor]="'blue'" 
      [percent]="85" 
      [unitsFontSize]="'16'"
      [unitsColor]="'blue'"
      [renderOnClick]="false" 
      [radius]="80"
      [showSubtitle]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'blue'"
      [innerStrokeColor]="'blue'"
      [animation]="true"
      [animationDuration]="1000" 
      [lazy]="true"
    ></circle-progress>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <circle-progress
      [title]="'css '"
      [titleColor]="'blue'" 
      [percent]="85" 
      [unitsFontSize]="'16'"
      [unitsColor]="'blue'"
      [renderOnClick]="false" 
      [radius]="80"
      [showSubtitle]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'blue'"
      [innerStrokeColor]="'blue'"
      [animation]="true"
      [animationDuration]="1000" 
      [lazy]="true"
    ></circle-progress>
  </div>  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <circle-progress
      [title]="'JavaScript '"
      [titleColor]="'blue'" 
      [percent]="85" 
      [unitsFontSize]="'16'"
      [unitsColor]="'blue'"
      [renderOnClick]="false" 
      [radius]="80"
      [showSubtitle]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'blue'"
      [innerStrokeColor]="'blue'"
      [animation]="true"
      [animationDuration]="1000" 
      [lazy]="true"
    ></circle-progress>
  </div>  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <circle-progress
      [title]="'Java'"
      [titleColor]="'blue '" 
      [percent]="85" 
      [unitsFontSize]="'16'"
      [unitsColor]="'blue'"
      [renderOnClick]="false" 
      [radius]="80"
      [showSubtitle]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'blue'"
      [innerStrokeColor]="'blue'"
      [animation]="true"
      [animationDuration]="1000" 
      [lazy]="true"
    ></circle-progress>
  </div>  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <circle-progress
      [title]="'Angular '"
      [titleColor]="'blue'" 
      [percent]="85" 
      [unitsFontSize]="'16'"
      [unitsColor]="'blue'"
      [renderOnClick]="false" 
      [radius]="80"
      [showSubtitle]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'blue'"
      [innerStrokeColor]="'blue'"
      [animation]="true"
      [animationDuration]="1000" 
      [lazy]="true"
    ></circle-progress>
  </div>  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <circle-progress
      [title]="'GitHub '"
      [titleColor]="'blue'" 
      [percent]="85" 
      [unitsFontSize]="'16'"
      [unitsColor]="'blue'"
      [renderOnClick]="false" 
      [radius]="80"
      [showSubtitle]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'blue'"
      [innerStrokeColor]="'blue'"
      [animation]="true"
      [animationDuration]="1000" 
      [lazy]="true"
    ></circle-progress>
  </div>  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <circle-progress
      [title]="'Inglés '"
      [titleColor]="'blue'" 
      [percent]="85" 
      [unitsFontSize]="'16'"
      [unitsColor]="'blue'"
      [renderOnClick]="false" 
      [radius]="80"
      [showSubtitle]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'blue'"
      [innerStrokeColor]="'blue'"
      [animation]="true"
      [animationDuration]="1000" 
      [lazy]="true"
    ></circle-progress>
  </div>  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <circle-progress
      [title]="'Trabajo'" 
      [titleColor]="'blue'" 
      [subtitle]="'en Equipo'"
      [subtitleColor]="'Blue'"
      [subtitleFontSize]="'14'"
      [percent]="85" 
      [unitsFontSize]="'16'"
      [unitsColor]="'blue'"
      [renderOnClick]="false" 
      [radius]="80"
      [showSubtitle]="true"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'blue'"
      [innerStrokeColor]="'blue'"
      [animation]="true"
      [animationDuration]="1000" 
      [lazy]="true"
    ></circle-progress>
  </div>
</div>
