<div class="row">
    <h1>Experiencia Laboral</h1>
        <div class="col-lg-10">
            <ul>
                <li><h1>Trabajo 1</h1>
                <h3>Período</h3> </li>
                <p>Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto</p>
            </ul>       
            <ul>
                <li><h1>Trabajo 2</h1>
                <h3>Período</h3> </li>
                <p>Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto</p>
            </ul>    
            <ul>
                <li><h1>Trabajo 3</h1>
                <h3>Período</h3> </li>
                <p>Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto</p>
            </ul>    
            <ul>
                <li><h1>Trabajo 4</h1>
                <h3>Período</h3> </li>
                <p>Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto</p>
            </ul>    
            <ul>
                <li><h1>Trabajo 5</h1>
                <h3>Período</h3> </li>
                <p>Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto Bonita descripción de mucho texto</p>
            </ul>    
        </div>
</div>
