<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../assets/unknown.png" class="img-fluid" id="fotoperfil">
    </div>
            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <p id="nombre"> Ganim Esteban</p>
                <p>Ingeniero Electromecánico-Docente</p>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <Span>
                    <h1>Información personal</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias, harum cupiditate corrupti nulla cum odit modi facilis neque consectetur excepturi veritatis nisi mollitia? Ducimus, consequatur praesentium! Incidunt fuga sit temporibus!</p>
                </Span>
            </div>
       
</div>

